.card-image {
  cursor: pointer;
}
.card-container-horizontal {
  width: 95rem;
  height: 28rem;
  cursor: pointer;
}
.dismiss {
  height: max-content;
}
.card-badge-text {
  border-radius: 2rem;
}
.category-card {
  border-radius: 2rem;
  border: none;
}
.card {
  border-radius: 1.5rem;
}
