* {
  overflow-x: hidden;
}
.home {
  min-height: 100vh;
  position: relative;
}
.img-content {
  height: 70vh;
  width: 100vw;
}

.overlay {
  background-color: transparent;
  padding: 2rem;
  color: var(--accent1);
}

.flex-center,
.gap {
  gap: 4rem;
}

.card {
  margin-bottom: 5rem;
}

.icon-gap {
  gap: 1rem;
}
