.outer-wrapper {
  flex-direction: column;
  gap: var(--sm-size);
  padding: var(--sm-size);
}

.video-listing {
  margin-top: 10rem;
  margin-left: 25rem;
}

.display-screen {
  margin: 6.8rem 0 5.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--sm-size);
}

.chip-container {
  display: flex;
  flex-wrap: wrap;
}

.single-video-wrapper {
  flex-wrap: wrap;
  gap: var(--sm-size);
  width: 100%;
}

.single-video-container {
  width: 80%;
  height: 40rem;
  border-radius: 2rem;
}

.video-detail {
  width: 30rem;
  width: 80%;
}

.flex-start-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
}

.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
}

.video-icon {
  width: 100%;
}

.video-span {
  width: 60rem;
}

.video-icon-set {
  width: 28rem;
}

.inner-icon {
  width: 12rem;
}

.inner-action-icon {
  width: 29rem;
}
.video-actions {
  width: 60rem;
  cursor: pointer;
}

.flex-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
}
