.nav-link{
    color: var(--primary-color);
    font-family: var(--body-font);
    font-weight: var(--regular);
    font-size: var(--md-size);
}

.active .nav-link{
    color: var(--accent-light-red);
}

.toggle-btn{
    font-size: var(--md-size);
    cursor: pointer;
}
