.form {
  width: 35rem;
}
.form-container {
  border: 1px solid var(--secondary-color);
}

.input-width {
  width: 30rem;
}

.sign-up {
  margin-top: 6rem;
  margin-bottom: 0;
}

.showPassword {
  position: absolute;
  right: 2rem;
  top: 5.5rem;
  cursor: pointer;
}
.passwordBox {
  position: relative;
}

.screen {
  flex-wrap: wrap;
  gap: var(--sm-size);
  margin: 10rem 0 5.2rem 0;
}
