.form {
  width: 35rem;
}
.form-container {
  border: 1px solid var(--secondary-color);
}

.input-width {
  width: 30rem;
}

.sign-up,
.login {
  margin-top: 10rem;
  margin-bottom: 0;
}

.showPassword {
  position: absolute;
  right: 2rem;
  top: 5rem;
  cursor: pointer;
}
.passwordBox {
  position: relative;
}

.screen {
  flex-wrap: wrap;
  gap: var(--sm-size);
}

.underlined {
  text-decoration: underline;
}
.auth-button {
  width: 80%;
}
.showLoginPassword {
  position: absolute;
  right: 2rem;
  top: 5.5rem;
  cursor: pointer;
}
