.sidebar-wrapper,
.sidebar-wrapper-expanded {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 6.5rem;
  width: 20%;
  height: 100vh;
  border-right: 1px solid var(--secondary-color);
}
.sidebar-wrapper-expanded {
  width: 30rem;
  background-color: var(--primary-color);
  opacity: 1;
  display: none;
}
.sidebar-list {
  list-style: none;
  padding: 1rem;
  width: 100%;
}
.sidebar-list-item {
  font-size: var(--sm-size);
  margin-top: 1rem;
  width: 100%;
  padding: 2rem;
  color: var(--accent1);
}
.sidebar-list-item:hover {
  background-color: var(--accent-light-gray);
  border-radius: 1rem;
  cursor: pointer;
  color: var(--option);
}
.tab-active .sidebar-list-item {
  color: var(--option);
  background-color: var(--accent-light-gray);
  border-radius: 1rem;
  cursor: pointer;
}
.hide {
  display: none;
}
